<html>
    <h1 style="display: inline;">Bucket-Erstellung</h1> <button mat-raised-button color="warn" style="float:right" (click)="close()">X</button>

    <br>
    <br>
    <br>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput name="1" type="text"[(ngModel)]="mock_name">
      </mat-form-field>
    
    </form>
      
    <br>
    
    <h2>Regeln</h2>

    <div *ngFor="let newrule of newrules">

      <mat-form-field appearance="fill">
        <mat-label>Regel</mat-label>
        <mat-select>
          <mat-option *ngFor="let rule of rules" [value]="rule.id">
            {{rule.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Wert</mat-label>
        <input type="text" matInput [value]="newrule.value">
      </mat-form-field>

    </div>



    <br>
    
    <button  mat-raised-button color="primary" (click)="addNewRule()">Neue Regel hinzufügen</button>

    <br>

    <button (click)="savePot()" style="position: absolute; bottom: 30px;" mat-raised-button color="primary">Neuen Bucket speichern</button>

    

</html>
