
<div class="grid-container">

    <div>

    </div>

    <div>

        <mat-toolbar>
            <span style="font-size: xx-large;"> Willkommen, Sandra Maybach</span>
        </mat-toolbar>
      
      <mat-card style="margin: 10px">
        <mat-card-content>
          <h2 style="font-size: xx-large;">Verfügbares Budget: 912,35 €</h2>
          <p style="color:gray;">Gesamtsaldo: 3.012,35 € (IBAN: DE98 9347 8340 1234)</p>
        </mat-card-content>
      </mat-card>
        
    </div>

    <div>
        
    </div>

</div>